<plugin id="cordova-plugin-audio-recorder" version="1.0.0">
    <name>AudioRecorderForOutsystems</name>
    <description>A Cordova plugin for recording audio</description>
    <platform name="android">
        <js-module src="www/audiorecorder.js" name="AudioRecorder">
            <clobbers target="cordova.plugins.audioRecorder" />
        </js-module>
        <src-file src="src/android/AudioRecorder.java" />
    </platform>
    <platform name="ios">
        <js-module src="www/audiorecorder.js" name="AudioRecorder">
            <clobbers target="cordova.plugins.audioRecorder" />
        </js-module>
        <src-file src="src/ios/AudioRecorder.swift" />
    </platform>
    <engines>
        <engine name="cordova" version=">=10.0.0" />
    </engines>
</plugin>
